html, body{
    margin :0;
    padding: 0;
    height: 100%;
}
body {
   background-color: blanchedalmond;
   
}
header {
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    
}
main {
    height: 100%;
}
form{
    width: 300px;
    height: 500px;
    margin: auto;
}
.btn-submit {
    text-align: center;   
}

.hidden {
    display: none;
}